.d-table {
  text-align: start;

  &-content {
    width: 100%;

    border: {
      spacing: 0;
      collapse: collapse;
      radius: 12px;
      width: 1px;
      style: solid;
      color: gray;
    }
  }

  &-head {
    height: 50px;
    background-color: darken($color: #616161, $amount: 3);
    color: white;

    &:hover {
      background-color: lighten($color: #616161, $amount: 5);
    }
    tr {
      th {
        text-align: start;
        padding: 1rem;
        border: {
          width: 1px;
          style: solid;
          color: gray;
        }
      }
    }
  }

  &-body {
    padding: 0;
    tr {
      transition: background-color 0.2s ease-in;

      &:hover {
        background-color: darken($color: #ffffff, $amount: 6);
      }
      td {
        padding: 1rem;
        border: 1px solid gray;
      }
    }
  }

  &-foot {
  }
}

.bg-blue {
  background-color: blue;
}
